In [1]:
# initial setup
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

Los temas que vimos en esta parte son limpieza de datos, expresiones regulares, funciones lambda, apply .

La idea de esta práctica es ejercitar los puntos que vamos a necesitar en la clase presencial.

Usaremos el dataset de las obras del Met (The Metropolitan Museum of Art)

https://github.com/metmuseum/openaccess/

## Ejercicio 1
Vamos a leer en la variable `data` los datos del archivo /M2/CLASE_05_Limpieza_de_datos/Data/MetObjects_sample.csv en un `DataFrame` de pandas con el método `read_csv` 

Veamos de qué tipos de datos son las columnas.

In [2]:
import pandas as pd 
location = '../Data/MetObjects_sample.csv'
data = pd.read_csv(location)
data.head()

,Unnamed: 0,Object Number,Is Highlight,Is Public Domain,Is Timeline Work,Object ID,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL
0,297513,Inst.1980.3.1,False,False,False,442985,Islamic Art,NaN,Illustrated single work,Illustrated Single Work,...,NaN,NaN,Codices,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Abstraction,http://vocab.getty.edu/page/aat/300056508
1,366196,175T49 R43,True,False,False,591826,The Libraries,NaN,NaN,Vita del Tintoretto,...,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q29385980,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
2,380983,WW.550,False,False,False,650203,Drawings and Prints,NaN,Print,Flowers and Dragonfly,...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Dragonflies|Flowers,http://vocab.getty.edu/page/aat/300310476|http...
3,379184,WW.211,False,False,False,647832,Drawings and Prints,NaN,Print,Old Karlsbad: City Tower (Alt-Karlsbad Stadtturm),...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Towers,http://vocab.getty.edu/page/aat/300004847
4,472119,24.63.2060,False,False,False,838838,Drawings and Prints,NaN,Print,"Victor Hugo, published in Le Masque",...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN

## Ejercicio 2
¿Qué campos tienen valores nulos? ¿Qué porcentaje de nulos tienen cada uno de ellos?

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4743 entries, 0 to 4742
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               4743 non-null   int64
 1   Object Number            4743 non-null   object
 2   Is Highlight             4743 non-null   bool
 3   Is Public Domain         4743 non-null   bool
 4   Is Timeline Work         4743 non-null   bool
 5   Object ID                4743 non-null   int64
 6   Department               4743 non-null   object
 7   AccessionYear            3743 non-null   object
 8   Object Name              4655 non-null   object
 9   Title                    3914 non-null   object
 10  Culture                  2318 non-null   object
 11  Period                   1319 non-null   object
 12  Dynasty                  184 non-null    object
 13  Reign                    71 non-null     object
 14  Portfolio                144 non-null    object
 15  Artist Role              2384 non-null   object
 16  Artist Prefix            736 non-null    object
 17  Artist Display Name      2398 non-null   object
 18  Artist Display Bio       2112 non-null   object
 19  Artist Suffix            79 non-null     object
 20  Artist Alpha Sort        2398 non-null   object
 21  Artist Nationality       1574 non-null   object
 22  Artist Begin Date        2097 non-null   object
 23  Artist End Date          2088 non-null   object
 24  Artist Gender            992 non-null    object
 25  Artist ULAN URL          1779 non-null   object
 26  Artist Wikidata URL      1313 non-null   object
 27  Object Date              3173 non-null   object
 28  Object Begin Date        4743 non-null   int64
 29  Object End Date          4743 non-null   int64
 30  Medium                   4611 non-null   object
 31  Dimensions               4235 non-null   object
 32  Credit Line              4683 non-null   object
 33  Geography Type           533 non-null    object
 34  City                     262 non-null    object
 35  State                    18 non-null     object
 36  County                   69 non-null     object
 37  Country                  662 non-null    object
 38  Region                   207 non-null    object
 39  Subregion                134 non-null    object
 40  Locale                   80 non-null     object
 41  Locus                    31 non-null     object
 42  Excavation               73 non-null     object
 43  River                    12 non-null     object
 44  Classification           4293 non-null   object
 45  Rights and Reproduction  128 non-null    object
 46  Link Resource            4743 non-null   object
 47  Object Wikidata URL      217 non-null    object
 48  Metadata Date            0 non-null      float64
 49  Repository               4743 non-null   object
 50  Tags                     2256 non-null   object
 51  Tags AAT URL             2256 non-null   object
dtypes: bool(3), float64(1), int64(4), object(44)
memory usage: 1.8+ MB

In [5]:
data.isnull().sum() / len(data)

Unnamed: 0                 0.000000
Object Number              0.000000
Is Highlight               0.000000
Is Public Domain           0.000000
Is Timeline Work           0.000000
Object ID                  0.000000
Department                 0.000000
AccessionYear              0.210837
Object Name                0.018554
Title                      0.174784
Culture                    0.511280
Period                     0.721906
Dynasty                    0.961206
Reign                      0.985031
Portfolio                  0.969639
Artist Role                0.497365
Artist Prefix              0.844824
Artist Display Name        0.494413
Artist Display Bio         0.554712
Artist Suffix              0.983344
Artist Alpha Sort          0.494413
Artist Nationality         0.668143
Artist Begin Date          0.557875
Artist End Date            0.559772
Artist Gender              0.790850
Artist ULAN URL            0.624921
Artist Wikidata URL        0.723171
Object Date                0.331014
Object Begin Date          0.000000
Object End Date            0.000000
Medium                     0.027830
Dimensions                 0.107105
Credit Line                0.012650
Geography Type             0.887624
City                       0.944761
State                      0.996205
County                     0.985452
Country                    0.860426
Region                     0.956357
Subregion                  0.971748
Locale                     0.983133
Locus                      0.993464
Excavation                 0.984609
River                      0.997470
Classification             0.094877
Rights and Reproduction    0.973013
Link Resource              0.000000
Object Wikidata URL        0.954248
Metadata Date              1.000000
Repository                 0.000000
Tags                       0.524352
Tags AAT URL               0.524352
dtype: float64

## Ejercicio 3

Analicemos la columna Object Date

¿Qué formato tienen los valores de este campo? ¿Qué patrones pueden identificar?

Sugerencia: recuerden el método value_counts
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html

In [10]:
data['Object Date'].dtype

dtype('O')

In [6]:
data['Object Date'].value_counts()

19th century    130
18th century     80
17th century     65
1912             54
1911             50
               ...
1933–34           1
ca. 1926–29       1
1700–1705         1
1735              1
1669              1
Name: Object Date, Length: 1378, dtype: int64

Podemos observar que hay diferentes tipos de informacion para años en comun

## Ejercicio 4

Usando expresiones regulares, apply y funciones lambda, creemos un nuevo campo "ObjectDateClean" que sea de tipo numérico y tenga el valor del año corresponiente a cada registro extrayéndolo del campo ObjectDate.

¿Qué características tienen los valores de los registros que no verificaron ningún patrón de los definidos?

Ayuda: Identifiquemos los patrones y decidamos cómo extraer el año de los valores de los registros que verifican cada uno de esos patrones. Después, de a un patrón, usemos la estrategia que definimos antes para extraer el valor del año de los registros que lo verifican.

In [11]:
import re 
import numpy as np

In [12]:
mask = data['Object Date'].isnull()

In [13]:
year_pattern = "(\d)?\d\d\d$"
year_pattern_regex = re.compile(year_pattern)

In [14]:
data_year_match = data['Object Date'].apply(lambda x:  x if x is np.NaN else year_pattern_regex.search(x))

In [15]:
mask_data_year_match_notnull = data_year_match.notnull()

data.loc[mask_data_year_match_notnull, "ObjectDateClean"] = data_year_match[mask_data_year_match_notnull].apply(lambda x: x.group(0))

In [16]:
data.loc[mask_data_year_match_notnull, ["Object Date", "ObjectDateClean"]]

        Object Date ObjectDateClean
1              1642            1642
2              1911            1911
3              1909            1909
4     June 20, 1867            1867
5          ca. 1878            1878
...             ...             ...
4733      1900–1907            1907
4734           1883            1883
4739       ca. 1938            1938
4741           1669            1669
4742       ca. 1925            1925

[1434 rows x 2 columns]

Posiblemente veamos que nos faltó considerar:
* los valores terminados en BC o B.C., y marcar esos años como negativos 
* considerar los períodos que tienen siglos, en lugar de años
* borrar las C. que aparecen de sufijo
* Considerar pallabras mals escritas como "cenutry"

Si tienen ganas de seguir practicando pueden resolver algunos de éstos.